.footer {
  background-color: #d1e9f6;
  width: 100%;
}

.footer-desc {
  padding: 80px 20px;
}

.footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4ab8f3;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 100%; /* Ensure it takes full width */
}

.footer-end p {
  text-align: center;
  margin: 0;
}

.icon i {
  font-size: 30px;
}

.icon {
  margin: 0 10px;
}
