.footer {
  background-color: #d1e9f6;
}

.footer-desc {
  padding: 80px;
}
.footer-end {
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  background-color: #4ab8f3;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
}

.footer-end p {
  text-align: center;
}

.icon-group {
  justify-content: center;
  align-content: center;
}

.icon i {
  font-size: 30px;
}
