.profile-section-wrapper {
  /* border: 10px solid black; */
  padding: 100px 0px;

  .desc {
    align-items: self-start;
    align-self: center;
    padding: 0px 25px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .profile-section-wrapper {
    padding: 20px 0;

    .desc{
      padding-left: 15px;
    }
  }
  .profile-section-wrapper .desc {
    margin-top: 15px;
  }
  
}
